{% extends 'layout.html' %} {% block content %}
<div class="container">
  <h1>{{name}}</h1>
  <p>{{path}}</p>
  <form action="/result" method="POST">
    <div>
      <input type="text" name="first_name" placeholder="Nombre" required />
    </div>
    <div>
      <input type="text" name="last_name" placeholder="Apellido" required />
    </div>
    <div>
      <input type="text" name="old_job" placeholder="Trabajo anterior" />
    </div>
    <div>
      <input type="text" name="current_job" placeholder="Trabajo actual" />
    </div>
    <div>
      <input type="text" name="country" placeholder="País" />
    </div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>

{% endblock %}
